body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    color: gray;
}

.wrapper {
    width: 100%;
    height: 625px;
    background-color: rgb(252, 252, 252);

}

.corner-1 {
    width: 150px;
    height: 150px;
    border-bottom-left-radius: 100%;
    background-color: rgb(9, 132, 226);
    float: right;

}

.corner-2 {
    width: 150px;
    height: 150px;
    border-top-right-radius: 100%;
    background-color: rgb(9, 132, 226);
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-1 {
    width: 236px;
    height: 300px;
    margin-top: 15px;
    box-shadow: 2px 2px 15px rgb(211, 206, 206), -2px 2px 15px rgb(211, 206, 206), 2px -2px 15px rgb(211, 206, 206);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    padding-top: 65px;
}

.box-2 {
    width: 236px;
    height: 300px;
    margin-top: 15px;
    box-shadow: 2px 2px 15px rgb(211, 206, 206), -2px 2px 15px rgb(211, 206, 206), 2px -2px 15px rgb(211, 206, 206);
    border-radius: 10px;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
    padding-top: 65px;
}

.box-3 {
    width: 236px;
    height: 300px;
    margin-top: 15px;
    box-shadow: 2px 2px 15px rgb(211, 206, 206), -2px 2px 15px rgb(211, 206, 206), 2px -2px 15px rgb(211, 206, 206);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    padding-top: 65px;
}

.fa-solid {
    color: rgb(9, 132, 226);
    font-size: 35px;
}

.one {
    background-color: #fff;
    position: absolute;
    top: 138px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(183, 175, 175);
    border-radius: 50%;
    padding-top: 13px;
    text-align: center;
    margin-left: 403px;
    font-weight: bold;

}

.two {
    background-color: #fff;
    position: absolute;
    top: 138px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(183, 175, 175);
    border-radius: 50%;
    padding-top: 13px;
    text-align: center;
    margin-left: 81px;
    font-weight: bold;
}

.three {
    background-color: #fff;
    position: absolute;
    top: 138px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(183, 175, 175);
    border-radius: 50%;
    padding-top: 13px;
    text-align: center;
    margin-left: 83px;
    font-weight: bold;
}